<nav id="main-navbar" class="navbar navbar-expand navbar-light navbar-fixed-left">
    <!-- toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- main section -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="custom-nav" class="navbar-nav mr-auto nav nav-link">
            <li>
                <a id="link-section-0" href="#section-0" class="nav-link btn-lg">Home</a>
            </li>

            <li>
                <a id="link-section-1" href="#section-1" class="nav-link btn-lg">Prerequisites</a>
                <nav class="nav nav-pills flex-column">
                    <a id="#link-section-1.1" href="#section-1.1" class="nav-link btn-light ml-3 small">Install .NET CLI</a>
                    <a id="#link-section-1.2" href="#section-1.2" class="nav-link btn-light ml-3 small">Install Angular CLI</a>
                </nav>
            </li>

            <li>
                <a id="link-section-2" href="#section-2" class="nav-link btn-lg">Installing Projects</a>
                <nav class="nav nav-pills flex-column">
                    <a id="#link-section-2.1" href="#section-2.1" class="nav-link btn-light ml-3 small">ASP.NET Core</a>
                    <a id="#link-section-2.2" href="#section-2.2" class="nav-link btn-light ml-3 small">Angular</a>
                </nav>
            </li>

            <li>
                <a id="link-section-3" href="#section-3" class="nav-link btn-lg">Integrating Angular & NET Core</a>
                <nav class="nav nav-pills flex-column">
                    <a id="#link-section-3.1" href="#section-3.1" class="nav-link btn-light ml-3 small">Rearranging Angular</a>
                    <a id="#link-section-3.2" href="#section-3.2" class="nav-link btn-light ml-3 small">Project Root</a>
                    <a id="#link-section-3.3" href="#section-3.3" class="nav-link btn-light ml-3 small">Configuring Typescript</a>
                    <a id="#link-section-3.4" href="#section-3.4" class="nav-link btn-light ml-3 small">Configuring Angular</a>
                    <a id="#link-section-3.5" href="#section-3.5" class="nav-link btn-light ml-3 small">Building All</a>
                </nav>
            </li>

            <li>
                <a id="link-section-4" href="#section-4" class="nav-link btn-lg">MVC Integration</a>
                <nav class="nav nav-pills flex-column">
                    <a id="#link-section-4.1" href="#section-4.1" class="nav-link btn-light ml-3 small">Few Thoughts</a>
                    <a id="#link-section-4.2" href="#section-4.2" class="nav-link btn-light ml-3 small">Building MVC</a>
                </nav>
            </li>

            <li>
                <a id="link-section-5" href="#section-5" class="nav-link btn-lg">Resources</a>
            </li>

            <!-- swap nav buttons -->
            <li id="nav-item-left">
                <a href="#" class="fa fa-arrow-left btn btn-sm disabled"> </a>
            </li>
            <li id="nav-item-top">
                <a href="#" class="fa fa-arrow-up btn btn-sm"> </a>
            </li>
            <li id="nav-item-right">
                <a href="#" class="fa fa-arrow-right btn btn-sm"> </a>
            </li>
        </ul>
    </div>
</nav>