
<!--  -->
<!-- PROJECT ROOT -->
<!--  -->

<p>
    Go to your IDE or text editor select "Startup" class and delete all distracting boilerplate code and comments that you don't
    need like screenshot below.
</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core8.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    This is much cleaner.
</p>
<p>
    You must configure middleware to add static files into pipeline, to do that we use "Microsoft.AspNetCore.StaticFiles" library
    and then call extension method "UseStaticFiles".
</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core9.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    By default is looking in "wwwroot" folder that is already created for you from .NET Project template in beginning on this
    tutorial.
</p>
<p>
    Lets test use of current root as go to "wwwroot" and create new html file like on screenshot below in my case "test.html"
    with pure text for testing purpose
</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core10.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    then start terminal(in my case I use vscode integrated terminal, see above screenshot) go to project folder and type `
    <i>dotnet run</i>`, like before dotnet will run local server and start listening for requests on port 5000. From there our
    pipeline should serve "test.html" on browser when we navigate url to file name (in my case url is
    <a href="localhost:5000/test.html">localhost:5000/test.html</a>).
</p>
<p>
    We see that the content appear on screen also files are properly injected and last but not least our console has no red lines
    (no errors).
</p>
<p>
    Here is our html file when we open network tab.
</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core11.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    If you follow along with me and everything is fine so far go to "wwwroot" folder and delete "test.html" file.
</p>
<p>
    Next we should setup typescript and angular-cli configurations to sync with new changes on projects structure that we made,
    then serve webpack bundles in our public root because they had to be accesible from browser.
</p>