<p>
    When .NET Core is installed should automatically installing tools for you check this as open terminal (Ctrl+Alt+T) then type
    `<i>dotnet new -h</i>`, if it's already installed you should see this menu with possible templates, options and other tips.

    <img src="{% static 'img/prerequisites-step1.jpg' %}" class="img-thumbnail tutorial-img">
    But if not see menu like this above go visiting <a href="https://github.com/dotnet/cli">.NET CLI source repo</a> and choose installation relevant to your Linux distro.
</p>