<div style="font-size:1.2em">
    <p>
        Before beginning this tutorial, I want to share some thoughts about why somebody would like to integrate these two technologies
        by hand.

        <br> When people use ready templates they don't necessary need all the modules files and other parts of application which will be generated.
        <br>Exploring project structure, files and code is method that I prefer before start building new application when I use provided templates, that's why
        I decide to create tutorial for people that like to build whole structure in startup project.

        <br> When I start new application I like to go from minimalistic type of structure and from almost empty project incorporating
        templates, files, etc. that application really need because creating whole code and structure itself makes me confident that I understand very well code base.
    </p>
</div>