<!--  -->
<!-- FEW THOUGHTS BEFORE STARTING -->
<!--  -->

<p>
    If this tutorial was built before .NET Core release I had to create separate folder structure for Views and Controllers then
    i had to wire up all stuff with naming conventions or supplying additional setup information in "Startup" for all parts
    work properly, but I will use new .NET Core feature called "Razor Pages". This feature is convenient for simple applications,
    testing purposes, teaching or just temporarly convenience before deciding what structure or design should be implemented.
    In this final setion of this tutorial i will test whole application with “Razor Pages” just for simplicity, but all that
    we produce is very easy switchable or direct build with standart old MVC Architecture that .NET uses from years.
</p>