

<!-- CONFIGURING ANGULAR CLI -->

<p>
    Open “<strong>.angular-cli.json</strong>” and change ”<strong>root</strong>” directory from ”<strong>src</strong>” to
    ”<strong>&lt;Name Of Client App&gt;</strong>” in my case ”<strong>ClientApp</strong>” also change the output directory ”<strong>outDir</strong>” to 
    ”<strong>./wwwroot/&lt;Name Of Client App&gt;/dist</strong>” and delete unnecessary ”<strong>index</strong>” member with value ”<strong>index.html</strong>” that dosn’t need to be generated because we will serve Angular straight to our
     <!-- TOOLTIP -->
     <u  data-toggle="tooltip" data-placement="top" title="Razor Pages is a new feature of ASP.NET Core MVC that makes coding page-focused scenarios easier and more productive.
Source: docs.microsoft.com">
        <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/?tabs=visual-studio">Razor pages</a>
     </u>
</p>

<p><strong style="color:red">This changes!</strong></p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core13.jpg' %}" class="img-thumbnail tutorial-img">
<p><strong style="color:red">Delete line "index"!</strong></p>

<p>and we are almost done, there are a few more steps left before application is ready to build upon.</p>
<p>
    Next we will install all Angular dependencies, build all the files that application needs and check everything is placed on right spot, from this point we must integrate
    <!-- TOOLTIP -->
    <u  data-toggle="tooltip" data-placement="top" title="Model–view–controller (MVC) is a software architectural pattern commonly used for developing user interfaces that divides an application into three interconnected parts. This is done to separate internal representations of information from the ways information is presented to, and accepted from, the user.
Source: wikipedia.org">
            <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller    ">MVC</a>
         </u>
     pattern and test application work to finish appropriately this tutorial.
</p>