<!--  -->
<!-- CONFIGURING TYPESCRIPT COMPILATION -->
<!--  -->

<p>
    Go to “tsconfig.json“ file and change “compilerOptions“ “outDir“ property, this option determines where should be generated
    compiled Javascript files, in our case “wwwroot/dist/out-tsc”. Also above “compilerOptions” create ”include” section
    that serve for checking from which folders must consider files because without “include” typescript will traverse all
    unnecessary folders and compile whole bunch of stuff. We shouldn't compile all existing typescript because most of them
    is just npm packages that doesn't change unlike our source code and this is just a waste of time and resources(mostly
    time).
</p>
<p>
    I have selected all the changes in the file so you can not go wrong.
</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core12.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    We are done with typescript itself and It's time to configure Angular-CLI.
</p>