

<!-- RESORUCES -->

<a class="btn btn-sm" href="https://www.microsoft.com/net">.NET Core</a>
<a class="btn btn-sm" href="https://nodejs.org/en/">Node.js</a>
<a class="btn btn-sm" href="https://github.com/dotnet/cli">.NET CLI</a>
<a class="btn btn-sm" href="https://github.com/angular/angular-cli">Angular CLI</a>
<a class="btn btn-sm" href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware?tabs=aspnetcore2x">ASP.NET Core Middleware</a>
<a class="btn btn-sm" href="https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/?tabs=visual-studio">ASP.NET Core Razor Pages</a>
<a class="btn btn-sm" href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">MVC Pattern</a>
<a class="btn btn-sm" href="https://github.com/Dreemsuncho/Algodemy">Source code of Algodemy project that I use to create this tutorial</a>