<!--  -->
<!-- INSTALLING PROJECTS -->
<!--  -->

<!-- ANGULAR -->
<p>
    Open terminal and navigate to .NET Core project directory or use last opened console and then type 
    `<i>ng new ClientApp --minimal --dry-run</i>`. We use
    `<i>--mininal</i>`
    flag to generate all support tools but project itself to be minimal as possible. This
    `<i>--dry-run</i>`
    showing what you should expect to create when command is executed without dry flag, but it's convenient for sanity check.
</p>

<img src="{% static 'img/installing-projects4.jpg' %}" class="img-thumbnail tutorial-img">

<p>
    When see this minimal template it's ready to install but if you see more files, directories or many other things you should probably
    check that
    `<i>--minimal</i>` flag is not misspeled. If everything is correct then type again command without
    `<i>--dry-run</i>` flag
    `<i>ng new &lt;Name Of Client App&gt; --minimal</i>`, you should wait until npm install Angular and all dependencies.
    When all is done client app should have same or very similar project structure.
</p>

<img src="{% static 'img/installing-projects5.jpg' %}" class="img-thumbnail tutorial-img">
<p>Looks more complicated than it is, but we must fix that a bit later.</p>

<p>
    Switch in console that is already on project path and type 
    `<i>cd &lt;Name Of Client App&gt;</i>`
     and let’s use another command
     `<i>ng build</i>`
     thath gets all Typescript files you produce along with angular code and use Webpack to bundle all chunks as we can see below.
</p>
<img src="{% static 'img/installing-projects6.jpg' %}" class="img-thumbnail tutorial-img">

<p>
    This bundles are ready for injecting, we need all of them. If you curious, your code spots in "<strong>main.bundle.js</strong>"  and all other
    are rest of your app (styles, angular code, etc.). All bundles location is "<strong>(Name Of Client App)/dist</strong>"
</p>

<p>
    Again just for sanity check let's test our client app without messing it up with server code as typing on terminal that is already in path
    "<strong>(Main Project)/(Client Project)</strong>" and serve client app as execute
    `<i>ng serve</i>` then you see
</p>
<img src="{% static 'img/installing-projects7.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    our client app runs alone on localhost in port 4200. Locate your browser there
    <a href="localhost:4200">localhost:4200</a> and if you follow along you should see that everything runs without errors and all bundles is spit
    in browser properly.
</p>
<p>
    <strong style="color:red">Bundles</strong>
</p>
<img src="{% static 'img/installing-projects8.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    <strong style="color:red">No errors</strong>
</p>

<p>
    If everything is fine so far we can proceed with next section namely integrating two projects run like one application.
</p>