<!--  -->
<!-- PREREQUISITES -->
<!--  -->

<p>
    - First you should have Installed
    <a href="https://www.microsoft.com/net">ASP.NET Core</a> and
    <a href="https://nodejs.org/en/">Node.js</a> on your machine.
</p>
<p>
    - Then you need any IDE or Text editor you prefer I will use
    <a href="https://code.visualstudio.com/Download">VS Code</a> in this tutorial.
</p>

<p>
    - This is
    <strong>optional step</strong> but I will use CLI(Command Line Tools) for both .NET Core and Angular, if you prefer not it’s
    ok to skip this section and go straight to the
    <a href="#section-2">Installing Projects</a>, but if you follow exact go and make next two steps:
</p>

<br>

<!-- PREREQUISITES STEP1 -->
<section id="section-1.1">
    <strong>&emsp;- Install .NET Core CLI.</strong>
    <hr> {% include 'main/section-1.1.html' %}
</section>

<br>

<!-- PREREQUISITES STEP2 -->
<section id="section-1.2">
    <strong>&emsp;- Install Angular CLI.</strong>
    <hr> {% include 'main/section-1.2.html' %}
</section>