
For Angular Command Line Tools is just simple as open terminal (Ctrl+Alt+T) and paste 
`<i>npm install -g @angular/cli</i>` 
this should install Angular CLI tools globally in your machine(few seconds/minutes). When
installation finish check this as type 
`<i>ng --version</i>`
<img src="{% static 'img/prerequisites-step2.jpg' %}" class="img-thumbnail tutorial-img">
then you already see similarly thing respective to version you install if everything is went well so far, if not always is good idea to refer to vendors documentation
<a href="https://github.com/angular/angular-cli">Angular CLI repo</a>
<br>
<br> And here we are ready for learn and prepare development environment with two of the latest and modern server and client
side technology.