<!--  -->
<!-- INSTALLING PROJECTS -->
<!--  -->

<!-- .NET-CORE -->

<p>
    Open terminal(Ctrl+Alt+T), go to folder where project will live then type 
    `<i>dotnet new web -n &lt;Name Of Your Project&gt;</i>` without angle brackets (In my case project is called Algodemy), when
    installation finishes open project folder with your prefer editor in my case is vscode.
</p>
<p>This should be project structure you see</p>

<img src="{% static 'img/installing-projects1.jpg' %}" class="img-thumbnail tutorial-img">

<p>
    and use terminal that is already open from project parent folder and type 
    `<i>cd &lt;Name Of Your Project &gt;</i>` to change current directory then another command 
    `<i>dotnet run</i>` to test whether application can run properly.
</p>

<p>If everything passed dotnet will up local server and listen in port 5000</p>
<img src="{% static 'img/installing-projects2.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    navigate to
    <a href="http://localhost:5000">localhost:5000</a>
    and you probably see this Hello World! message and without errors in dev-tools console.
</p>

<img src="{% static 'img/installing-projects3.jpg' %}" class="img-thumbnail tutorial-img">

<p>Let’s leave .Net Core for now and focus on client side.</p>