{% load static %}
<p>
    - First you should have Installed
    <a href="https://www.microsoft.com/net">ASP.NET Core</a> and
    <a href="https://nodejs.org/en/">Node.js</a> on your machine.
</p>

<p>
    - Then you need any IDE or Text editor you prefer I will use
    <a href="https://code.visualstudio.com/Download">VS Code</a> in this tutorial.
</p>

<p>
    - This is
    <strong>optional step</strong> but I will use CLI(Command Line Tools) for both .NET Core and Angular, if you prefer not it’s
    ok to skip this section and go straight to the
    <a href="#section-2">Installing Projects</a>, but if you follow exact go and make next two sub-steps:

    <!-- SECTION 1.1 -->
    <section id="section-1.1">
        <strong>Step 1: </strong>
        When NET Core is installed should automatically installing tools for you check this as open terminal (Ctrl+Alt+T) then type
        `<i>dotnet new -h</i>`, if it salready installed you should see this menu with possible options and templates.
        <img src="{% static 'img/prerequisites-step1.jpg' %}" class="img-thumbnail tutorial-img"> but if not go visiting
        <a href="https://github.com/dotnet/cli">.NET CLI source repo</a> and choose installation relevant to your Linux distro.
    </section>

    <br>

    <!-- SECTION 1.2 -->
    <section id="section-1.2">
        <strong>Step 2: </strong>
        For Angular Command Line Tools is just simple as open terminal (Ctrl+Alt+T) and paste `<i>npm install -g @angular/cli</i>` this should install Angular CLI tools globally in your machine(few seconds/minutes). When installation finish check this as type in terminal `<i>ng --version</i>` then you should see similarly thing respect to the version you install.
        <img src="{% static 'img/prerequisites-step2.jpg' %}" class="img-thumbnail tutorial-img">
        <br>
        <br> And here we are ready for learn and prepare development environment with two of the latest and modern server and
        client side technology.
    </section>
</p>