
<!--  -->
<!-- INTEGRATING ANGULAR AND ASP.NET CORE LIVE AND WORK TOGETHER -->
<!--  -->

<!-- REARRANGING ANGULAR APPLICATION -->
<p>
    Open client app project folder
</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core1.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    select "<strong>dist</strong>", "<strong>node_modules</strong>" (if you don't have "<strong>dist</strong>" dont worry) as well ".gitignore" file and delete all selected items.
</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core2.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    Next cut the "<strong>package.json</strong>", "<strong>tsconfig.json</strong>" and "<strong>.angular-cli.json</strong>"
</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core3.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    go back up one folder (.NET Core project folder) and paste files
</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core4.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    then go back to Angular app "<strong>(ClientApp Folder)/src</strong>" and cut all files from "<strong>src</strong>"
</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core5.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    paste it on "<strong>ClientApp</strong>" itself
</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core6.jpg' %}" class="img-thumbnail tutorial-img">
<p>and delete "<strong>src</strong>"</p>
<img src="{% static 'img/Integrating Angular and ASP.NET Core7.jpg' %}" class="img-thumbnail tutorial-img">
<p>
    and we are done with scalping Angular initial structure and we are ready to introduce root folder for our whole app and from this root we shall serve access on pipelines to static files, bundles and everything that our client will need to run properly.
</p>