<p>
    Open terminal (Ctrl+Alt+T) last time I hint you :), go in folder where the project will live then type `
    <i>dotnet new web -n &lt;Name Of Your Project&gt;</i>` without angle brackets (In my case project is called Algodemy), when
    installation finishes open project folder with your prefer editor in my case is vscode.
</p>
<p>This should be project structure you see:</p>

<img src="{% static 'img/installing-projects1.jpg' %}" class="img-thumbnail tutorial-img">

<p>
    Use old terminal that is from project parent folder and type `
    <i>cd &lt;Name Of Your Project &gt;</i>` then another command `
    <i>dotnet run</i>` to test whether application can run properly.
</p>
<p>
    If everything passed dotnet will up local server and wil listen in port 5000
</p>

<img src="{% static 'img/installing-projects2.jpg' %}" class="img-thumbnail tutorial-img">

<p>
    navigate to
    <a href="http://localhost:5000">localhost:5000</a> and you should see this Hello World! message with no errors in dev-tools console.
</p>

<img src="{% static 'img/installing-projects3.jpg' %}" class="img-thumbnail tutorial-img">

<p>Ok now let’s leave .Net Core for little rest and focus on client side.</p>