<!--  -->
<!-- INTEGRATING ANGULAR AND ASP.NET CORE LIVE AND WORK TOGETHER -->
<!--  -->


<!-- REARRANGING ANGULAR APPLICATION -->

<section id="section-3.1">
    <br>
    <strong>&emsp;- Rearranging Angular Application</strong>
    <hr> {% include 'main/section-3.1.html' %}
</section>

<br>

<!-- PROJECT ROOT -->
<section id="section-3.2">
    <strong>&emsp;- Project Root:</strong>
    <hr> {% include 'main/section-3.2.html' %}
</section>

<br>

<!-- CONFIGURING TYPESCRIPT COMPILATION -->
<section id="section-3.3">
    <strong>&emsp;- Configuring Typescript Compilation</strong>
    <hr> {% include 'main/section-3.3.html' %}
</section>

<br>

<!-- CONFIGURING ANGULAR CLI -->
<section id="section-3.4">
    <strong>&emsp;- Configuring Angular CLI</strong>
    <hr> {% include 'main/section-3.4.html' %}
</section>

<br>

<!-- BUILDING ALL TOGETHER -->
<section id="section-3.5">
    <strong>&emsp;- Building All Together</strong>
    <hr> {% include 'main/section-3.5.html' %}
</section>