@media screen and (min-width: 1024px) {
    fixedHeight {
        height:250px;
    }
}
html,
body {
    height: 100%;
    background-color: #f6f6f6;
    position: relative;
}

header {
    /* margin: 2%; */
    background-color: #f6f6f6;
    padding-top:1%;
}
header img, header h1 {
    transition:1s;
}
#custom-nav li {
    padding-left: 1%;
    padding-right: 1%;
}
div[id^='section'] {
    padding-top:5%;
}
#main-wrapper {
    padding: 5% 11%;
}
.anchor {
    position:absolute;
    transform:translateY(-150vh);
}
i {
    color:red;
}
section {
    padding: 0 5%;
}

#tutorial-body {
    padding: 3% 0 5% 0;
    font-size:1.3em;
}

img.tutorial-img {
    width:100%;
}

.tutorial-body {
    font-size: 18px;
    padding: 5% 0;
}

code pre {
    background: #ffffff !important;
    padding-top: 2%;
}